body{
    display: flex;
    background-color: lightgrey;
}
#menu{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
#header{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Shizuru', cursive;
    color:white;
}
#menu button{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#container{
    padding-left: 5%;
    padding-top: 10%;
    width: 500px;
    display: grid;
    /*grid-template-columns: auto auto auto;*/
    /*background-color: #2196F3;*/
    /*padding: 5px;*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
#grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgrey;
    /*padding: 5px;*/
    font-size: 12px;
    text-align: center;
    width: 25spx;
    height: 25px;
}
#redB:hover{
    background-color: red;
    color: white;
    border-color: wheat;
}
#blueB:hover{
    background-color: blue;
    color: white;
    border-color: wheat;
}
#greenB:hover{
    background-color: green;
    color: white;
    border-color: wheat;
}
#purpleB:hover{
    background-color: purple;
    color: white;
    border-color: wheat;
}
#blackB:hover{
    background-color: black;
    color: white;
}
#rainbowB:hover{
    background-color: lime;
    color: white;
    border-color: purple;
}
#resetB:hover{
    font-weight: bold;
    border-color: red;
}